---
import "@/styles/global.css";
const { title = "porfolio.io" } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="bg-black text-white">
    <main class="min-h-screen pt-24 px-4">
      <slot />
    </main>
  </body>
</html>
